@page "/billinglist"
@using terminus.shared.models
@attribute [Authorize]

@inherits BillingListBase
<h1 class="page-title">Billing List</h1>

@if (!DataLoaded && string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Loading...</em></p>
}
else if (DataLoaded && !string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Error encountered while loading this page.</em></p>
}
else
{
<div>
    @if (IsGenerating)
    {
        <p><em>Generating bills, please wait...</em></p>
    }
    else
    {
        <button class="btn btn-dark table-btn quick-add-btn" @onclick="GenerateBills">Generate Bills</button>
        <button class="btn btn-dark table-btn quick-add-btn" @onclick="CreateBill">Create new</button>
    }
</div>
      <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Document Id</th>
                <th>Date</th>
                <th>Billing Type</th>
                <th>Property</th>
                <th>Tenant</th>
                <th>Total Amount</th>
                <th>Balance</th>
                <th>Paid Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Bills != null)
            {
                @foreach (var bill in Bills)
                {
                    <tr>
                        <td>@bill.documentId</td>
                        <td>@bill.transactionDate.ToString("yyyy-MM-dd")</td>
                        <td>@(bill.billType.Equals("MB") ? "Monthly Bill" : "Other Bill")</td>
                        <td>@bill.propertyDesc</td>
                        <td>@bill.tenantName</td>

                        <td>@bill.totalAmount.ToString("#,##0.00;(#,##0.00);-")</td>
                        <td>@bill.balance.ToString("#,##0.00;(#,##0.00);-")</td>
                        <td>@bill.amountPaid.ToString("#,##0.00;(#,##0.00);-")</td>

                        <td>
                            <a href="@($"billingentry/{bill.billId}")" class="btn btn-primary table-btn">
                                <i class="fas fa-info-circle">Edit</i>
                            </a>
                            <a href="@($"collectbill/{bill.billId}")" class="btn btn-primary table-btn">
                                <i class="fas fa-info-circle">Apply Payment</i>
                            </a>
                            <button type="button" class="btn btn-primary table-btn" @onclick="@(() => SendBill(bill.billId))">
                                <i class="fas fa-info-circle">Send Bill</i>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}



