@using terminus_webapp.Data

@page "/changepassword"
@attribute [Authorize]

@inherits ChangePasswordBase



@if (ChangePassword != null && IsDataLoaded)
{
    <div>
        <div style="display:block">


            <EditForm Model="@ChangePassword" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary></ValidationSummary>


                <div class="form-group row">
                    <label for="OldPassword" class="col-sm-2 col-form-label">Current Password: </label>
                    <div class="col-sm-4">
                        <input type="password" id="OldPassword" name="OldPassword" class="form-control" @bind-value="@ChangePassword.OldPassword" />
                    </div>

                    <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => ChangePassword.OldPassword)" />
                </div>

                <div class="form-group row">
                    <label for="NewPassword" class="col-sm-2 col-form-label">New Password: </label>
                    <div class="col-sm-4">
                        <input type="password" id="NewPassword" name="NewPassword" class="form-control" @bind-value="@ChangePassword.NewPassword" />
                    </div>

                    <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => ChangePassword.NewPassword)" />
                </div>

                <div class="form-group row">
                    <label for="ConfirmPassword" class="col-sm-2 col-form-label">Confirm Password: </label>
                    <div class="col-sm-4">
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" @bind-value="@ChangePassword.ConfirmPassword" />
                    </div>

                    <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => ChangePassword.ConfirmPassword)" />
                </div>


                <button type="submit" class="btn btn-primary edit-btn">Change Password</button>

            </EditForm>

        </div>
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <br />
            <p class="alert-danger">@ErrorMessage</p>
            <br />
        }

        @if (!string.IsNullOrEmpty(SuccessMessage))
        {
            <br />
            <p class="alert-success">@SuccessMessage</p>
            <br />
        }


    </div>
}