
@page "/glaccountentry"
@page "/glaccountentry/{accountId}"
@attribute [Authorize]
@inherits GLAccountEntryBase




<h3>GL Account Entries</h3>


@if (!IsDataLoaded)
{
    <p><em>Loading...</em></p>
}
else if (IsDataLoaded && !string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Error encountered, please report it to the system administrator</em></p>
    <p><em>@ErrorMessage</em></p>
}
else
{
<EditForm Model="@glAccountView" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>

    <div class="form-group row">
        <label for="accountCode" class="col-sm-2 col-form-label">Account Code </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@glAccountView.accountCode" class="form-control">
                </InputText>
            }
            else
            {
                <label>@glAccountView.accountCode</label>
            }
        </div>
        @*<ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => glAccount.accountCode)" />*@
    </div>



    <div class="form-group row">
        <label for="accountDesc" class="col-sm-2 col-form-label">Account Description: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@glAccountView.accountDesc" class="form-control">

                </InputText>
            }
            else
            {
                <label>@glAccountView.accountDesc</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => glAccountView.accountDesc)" />
    </div>



    <div class="form-group row">
        <label for="balance" class="col-sm-2 col-form-label">Balance: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputNumber @bind-Value="@glAccountView.balance" class="form-control">

                </InputNumber>
            }
            else
            {
                <label>@glAccountView.balance</label>
            }
        </div>
        @*<ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => glAccount.balance)" />*@
    </div>

    <div class="form-group row">
        <label for="Revenue" class="col-sm-2 col-form-label">Revenue: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputSelect @bind-Value="@glAccountView.revenue" class="form-control">
                    <option value="N">No</option>
                    <option value="Y">Yes</option>
                </InputSelect>
            }
            else
            {
                <label>@glAccountView.revenue</label>
            }
        </div>
        @*<ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => glAccount.revenue)" />*@
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Expense: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputSelect @bind-Value="@glAccountView.expense" class="form-control">
                    <option value="N">No</option>
                    <option value="Y">Yes</option>
                </InputSelect>
            }
            else
            {
                <label>@glAccountView.expense</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => glAccountView.expense)" />
    </div>

    <div class="form-group row">
        <label for="cashAccount" class="col-sm-2 col-form-label">Cash Account: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputSelect @bind-Value="@glAccountView.cashAccount" class="form-control">
                    <option value="N">No</option>
                    <option value="Y">Yes</option>
                </InputSelect>
            }
            else
            {
                <label>@glAccountView.cashAccount</label>
            }
        </div>
        @*<ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => glAccount.cashAccount)" />*@
    </div>

    @*<div class="form-group row">
        <label for="outputVatAccount" class="col-sm-2 col-form-label">Output Vat Account: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputSelect @bind-Value="@glAccountView.outputVatAccount" class="form-control">
                    <option value="N">No</option>
                    <option value="Y">Yes</option>
                </InputSelect>
            }
            else
            {
                <label>@glAccountView.outputVatAccount</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => glAccount.outputVatAccount)" />
    </div>*@
    @*<div class="form-group row">
        <label for="outputVatAccount" class="col-sm-2 col-form-label">Row Order: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputNumber @bind-Value="@glAccountView.rowOrder" class="form-control">

                </InputNumber>
            }
            else
            {
                <label>@glAccountView.rowOrder</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => glAccountView.rowOrder)" />
    </div>*@

    @if (!IsViewOnly)
    {

        @if (!IsEditOnly)
        {
            <button type="submit" class="btn btn-primary edit-btn" onclick="return confirm('Are you sure you want to post this GL Account Entry?');">Save</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary edit-btn" onclick="return confirm('Are you sure you want to post this GL Account Entry?');">Edit</button>
        }

    }
    <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToList">Return</a>

</EditForm>

}