@page "/glaccountlist"

@attribute [Authorize]
@inherits GLAccountListBase


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            @*<li class="active"><a href="setup">SET UP</a></li>*@
            <li><a href="tenantlist">&nbsp;&nbsp;&nbsp;&nbsp;TENANT&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li><a href="propertylist">&nbsp;&nbsp;&nbsp;&nbsp;PROPERTY&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            @*<li><a href="propertydirectorylist">PROPERTY DIRECTORY</a></li>*@
            <li><a href="vendorlist">&nbsp;&nbsp;&nbsp;&nbsp;VENDOR&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li><a href="glaccountlist">&nbsp;&nbsp;&nbsp;&nbsp;GL ACCOUNT&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        </ul>
    </div>
</nav>

<h3>GL Account List</h3>

@if (!DataLoaded && string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Loading...</em></p>
}
else if (DataLoaded && !string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Error encountered while loading this page.</em></p>
}
else
{
    <hr />
    <button type="submit" @onclick="@AddGLAccount" class="btn btn-primary edit-btn"> Add GL Account </button>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>

                <th>GL Code</th>
                <th>GL Description</th>
                <th>Balance</th>
                <th>Revenue</th>
                <th>Expenses</th>
                <th>Cash Account</th>
                @*<th>Output Vat Account</th>*@
                @*<th>Row Order</th>*@
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var glAccount in glAccount)
            {
                <tr>
                    <td>@glAccount.accountCode.ToString()</td>
                    <td>@glAccount.accountDesc.ToString()</td>
                    <td>@glAccount.balance.ToString()</td>
                    <td>@glAccount.cashAccount.ToString()</td>
                    <td>@glAccount.revenue.ToString()</td>
                    <td>@glAccount.expense.ToString()</td>
                    @*<td>@glAccount.outputVatAccount.ToString()</td>*@
                    @*<td>@glAccount.rowOrder.ToString()</td>*@
                    <td>
                        <a href="@($"glAccountentry/{glAccount.accountId}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle">EDIT</i>
                        </a>
                    </td>
                </tr>

            }


        </tbody>
    </table>



}
