@page "/propertyentry"
@page "/propertyentry/{id}"
@attribute [Authorize]
@inherits PropertyEntryBase




<h3>Properties Entries</h3>

<hr />
@if (!IsDataLoaded)
{
    <p><em>Loading...</em></p>
}
else if (IsDataLoaded && !string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Error encountered, please report it to the system administrator</em></p>
    <p><em>@ErrorMessage</em></p>
}
else
{
    //
<EditForm Model="@properties" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>

    <div class="form-group row">
        <label for="accountCode" class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@properties.description" class="form-control">
                </InputText>
            }
            else
            {
                <label>@properties.description</label>
            }
        </div>
        @*<ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.description)" />*@
    </div>



    <div class="form-group row">
        <label for="accountDesc" class="col-sm-2 col-form-label">Address: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@properties.address" class="form-control">

                </InputText>
            }
            else
            {
                <label>@properties.address.ToString()</label>
            }
        </div>
        @*<ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.firstName)" />*@
    </div>


    @*<div class="form-group row">
            <label for="propertyType" class="col-sm-2 col-form-label">Building Name: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {
                    <InputSelect @bind-Value="@properties.BuildingCode" class="form-control">
                    <option value="">--- select item ---</option>
                    @foreach (var rf in properties.BuildingCode)
                            {
                        <option value="@rf.ReferenceCode">@rf.ReferenceValue</option>
                            }

                </InputSelect>
                    <InputSelect @bind-Value="@properties.BuildingCode" class="form-control">
                        <option value=""></option>
                        <option value="ADBC">Azote De Bel-Air</option>
                        <option value="FBT">Ferros Bel-Air Tower</option>
                        <option value="OSP">One Salcedo Place</option>

                    </InputSelect>
                }
                else
                {
                    <label>@properties.BuildingCode</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.BuildingCode)" />
        </div>*@


    <div class="form-group row">
        <label for="propertyType" class="col-sm-2 col-form-label">Property Type: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputSelect @bind-Value="@properties.propertyType" class="form-control">
                    <option value="">--- Select Item ---</option>
                    <option value="Resident">Residential</option>
                    <option value="Parking">Parking</option>
                    <option value="Commercial">Commercial</option>
                    <option value="Storage">Storage</option>

                </InputSelect>

            }
            else
            {
                <label>@properties.propertyType</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.propertyType)" />
    </div>

    <div class="form-group row">
        <label for="areaInSqm" class="col-sm-2 col-form-label">Area: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {

                <InputNumber @bind-Value="@properties.areaInSqm" class="form-control">

                </InputNumber>
            }
            else
            {
                <label>@properties.areaInSqm</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.areaInSqm)" />
    </div>
    @if (CompanyId.ToUpper() == "ADBCA")
    {

        <div class="form-group row">
            <label for="ownerLastName" class="col-sm-2 col-form-label">Owner Proxy ID: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.ownerProxID" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.ownerProxID</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.ownerProxID)" />
        </div>

        <div class="form-group row">
            <label for="ownerLastName" class="col-sm-2 col-form-label">Owner Last Name: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.ownerLastName" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.ownerLastName</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.ownerLastName)" />
        </div>

        <div class="form-group row">
            <label for="ownerFirstName" class="col-sm-2 col-form-label">Owner First Name: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.ownerFirstName" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.ownerFirstName</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.ownerFirstName)" />
        </div>



        <div class="form-group row">
            <label for="ownerFirstName" class="col-sm-2 col-form-label">Owner Middle Name: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.ownerMiddleName" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.ownerMiddleName</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.ownerMiddleName)" />
        </div>

        <div class="form-group row">
            <label for="ownerFullName" class="col-sm-2 col-form-label">Owner Full Name: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.ownerFullName" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.ownerFullName</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.ownerFullName)" />
        </div>

        <div class="form-group row">
            <label for="ownerAddress" class="col-sm-2 col-form-label">Address: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {

                    <InputTextArea @bind-Value="@properties.ownerAddress" class="form-control">

                    </InputTextArea>
                }
                else
                {
                    <label>@properties.ownerAddress</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.ownerAddress)" />
        </div>

        <div class="form-group row">
            <label for="ownerContactNo" class="col-sm-2 col-form-label">Contact No.: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.ownerContactNo" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.ownerContactNo</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.ownerContactNo)" />
        </div>

        <div class="form-group row">
            <label for="ownerEmailAdd" class="col-sm-2 col-form-label">Email Address: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.ownerEmailAdd" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.ownerEmailAdd</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.ownerEmailAdd)" />
        </div>


        <div class="form-group row">
            <label for="ownerRemarks" class="col-sm-2 col-form-label">Remarks: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {

                    <InputTextArea @bind-Value="@properties.ownerRemarks" class="form-control">

                    </InputTextArea>
                }
                else
                {
                    <label>@properties.ownerRemarks</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.ownerRemarks)" />
        </div>
    }


    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Owned/Managed: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputSelect @bind-Value="@properties.Owned_Mgd" class="form-control">

                    <option value="O">Owned</option>
                    <option value="M">Managed</option>

                </InputSelect>
            }
            else
            {
                <label>@properties.Owned_Mgd</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.Owned_Mgd)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Management Fee %: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@properties.MgtFeePct" class="form-control">

                </InputText>
            }
            else
            {
                <label>@properties.MgtFeePct</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.MgtFeePct)" />
    </div>
    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">CCT Number: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@properties.CCTNumber" class="form-control">

                </InputText>
            }
            else
            {
                <label>@properties.CCTNumber</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.CCTNumber )" />
    </div>
    <hr />
    <h4>Emergency Contact Details</h4>
    <div class="form-group row">

        <label for="Expense" class="col-sm-2 col-form-label">Full Name: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@properties.emergyFullName" class="form-control">

                </InputText>
            }
            else
            {
                <label>@properties.emergyFullName</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.emergyFullName)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Contact No.: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@properties.emergyContactNo" class="form-control">

                </InputText>
            }
            else
            {
                <label>@properties.emergyContactNo</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.emergyContactNo)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Address: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputTextArea rows="4" @bind-Value="@properties.emergyAdrress" class="form-control">

                </InputTextArea>
            }
            else
            {
                <label>@properties.emergyAdrress</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.emergyAdrress)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Relationship To Owner: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@properties.emergyRelationshipOwner" class="form-control">

                </InputText>
            }
            else
            {
                <label>@properties.emergyRelationshipOwner</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.emergyRelationshipOwner)" />
    </div>
    <hr />

    <h4>Occupants</h4>
    @functions {
        protected bool IsDisabled { get; set; }
    }
    @*
        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Tenanted: </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputSelect @bind-Value="@properties.otherRestenanted" class="form-control">

                        <option value="Y">Yes</option>
                        <option value="N">No</option>

                    </InputSelect>
                }
                else
                {
                    <label>@properties.otherRestenanted</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherRestenanted)" />
        </div>

        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Residing In Unit: </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputSelect @bind-Value="@properties.otherResResiding" class="form-control">

                        <option value="Y">Yes</option>
                        <option value="N">No</option>

                    </InputSelect>
                }
                else
                {
                    <label>@properties.otherResResiding</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherResResiding)" />
        </div>*@



    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Occupancy Status: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputSelect @bind-Value="@properties.residingType" class="form-control">
                    <option value=""></option>
                    <option value="Tenanted">Tenanted</option>
                    <option value="Residing">Residing In Unit</option>
                    <option value="Vacant">Vacant</option>

                </InputSelect>
            }
            else
            {
                <label>@properties.residingType</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.residingType)" />
    </div>

    @if (properties.residingType == "Residing")
    {

        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Resident Proxy ID 1 : </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.otherResProxID1" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.otherResProxID1</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherResProxID1)" />
        </div>

        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Resident Full Name 1 : </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.otherResFullName1" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.otherResFullName1</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherResFullName1)" />
        </div>

        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Contact Number 1 : </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.otherResContactNo1" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.otherResContactNo1</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherResContactNo1)" />
        </div>

        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Relationship to the Owner 1 : </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.otherResRelationshipToOwner1" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.otherResRelationshipToOwner1</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherResRelationshipToOwner1)" />
        </div>

        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Resident Proxy ID 2 : </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.otherResProxID2" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.otherResProxID2</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherResProxID2)" />
        </div>

        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Resident Full Name 2 : </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.otherResFullName2" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.otherResFullName2</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherResFullName2)" />
        </div>

        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Contact Number 2 : </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.otherResContactNo2" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.otherResContactNo2</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherResContactNo2)" />
        </div>

        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Relationship to the Owner 2 : </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.otherResRelationshipToOwner2" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.otherResRelationshipToOwner2</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherResRelationshipToOwner2)" />
        </div>


        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Resident Proxy ID 3: </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.otherResProxID3" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.otherResProxID3</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherResProxID3)" />
        </div>

        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Resident Full Name 3 : </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.otherResFullName3" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.otherResFullName3</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherResFullName3)" />
        </div>

        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Contact Number 3 : </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.otherResContactNo3" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.otherResContactNo3</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherResContactNo3)" />
        </div>
        <div class="form-group row">
            <label for="Expense" class="col-sm-2 col-form-label">Relationship to the Owner 3 : </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputText @bind-Value="@properties.otherResRelationshipToOwner3" class="form-control">

                    </InputText>
                }
                else
                {
                    <label>@properties.otherResRelationshipToOwner3</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => properties.otherResRelationshipToOwner3)" />
        </div>
    }


    <hr />
    <br />


    <InputFile multiple OnChange="HandleSelection" />
    @*<br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>File Size</th>
                    <th>File Type</th>
                    <th></th>
                </tr>
            </thead>
            @if (selectedFiles != null)
            {

                foreach (var file in selectedFiles)
                {
                    var isLoading = file.Data.Position > 0;


                    <tbody>

                        <tr>
                            <td>@file.Name</td>
                            <td>@file.Size bytes </td>
                            <td>@file.Type</td>


                        </tr>

                    </tbody>

                }
            }



        </table>*@
    <hr />
    <h3>File Attachment</h3>
    <hr />
    @if (properties != null && properties.propertyDocument != null)
    {
        <table>
            <thead>
                <tr>
                    <th>File Name</th>
                    @*<th>File Size</th>*@
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var pd in properties.propertyDocument.Where(a => !a.deleted))
                {
                    <tr>

                        @*<td>@pd.fileDesc </td>*@
                        @*<td>@td.fi</td>*@


                        <td>

                            @{
                                var _path = $"Uploaded/Attachments/{pd.fileName}{pd.extName}";
                                //var _path = $"/Uploaded/PropertDocument/{pd.fileName}{pd.extName}";

                                <a href="@_path" target="_blank">@pd.fileDesc</a>

                                @*<a href="@_path"
                                       class="btn btn-primary table-btn" target="_blank">
                                        <i class="fas fa-info-circle"> DOWNLOAD </i>
                                    </a>*@

                            }

                        </td>
                        <td>
                            <button type="button" class="btn btn-danger table-btn" @onclick="@(() => HandleDeleteAttachment(pd.id.ToString()))">
                                <i class="fas fa-info-circle">Delete</i>
                            </button>

                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }

    <br />

    <br />
    <br />
    <br />

    @if (!IsViewOnly)
    {
        @if (!IsEditOnly)
        {
            <button type="submit" class="btn btn-primary edit-btn" onclick="return confirm('Are you sure you want to post this Property Entry?');"> Save </button>
        }
        else
        {
            <button type="submit" class="btn btn-primary edit-btn" onclick="return confirm('Are you sure you want to post this Property Entry?');"> Save </button>
        }

    }
    <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToList">Return</a>

</EditForm>

}