@page "/propertylist"
@attribute [Authorize]
@inherits PropertyListBase


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li class="active"><a href="setup">SET UP</a></li>
            <li><a href="tenantlist">TENANT</a></li>
            <li><a href="propertylist">PROPERTY</a></li>
            <li><a href="propertylist">PROPERTY DIRECTORY</a></li>
            <li><a href="vendorlist">VENDOR</a></li>
            <li><a href="glaccountlist">GL ACCOUNT</a></li>
        </ul>
    </div>
</nav>

<h3>Property List</h3>

@if (!DataLoaded && string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Loading...</em></p>
}
else if (DataLoaded && !string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Error encountered while loading this page.</em></p>
}
else
{
    <hr />
    <button type="submit" @onclick="@PropertyEntry" class="btn btn-primary edit-btn"> Add Property </button>
    <br />

    <br />
    <table class="table">
        <thead>
            <tr>

                <th>Property Description</th>
                <th>Address</th>
                @*<th>Property Type</th>
                    <th>Area</th>*@
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var p in properties)
            {
                <tr>
                    <td>@p.description.ToString()</td>
                    <td>@p.address.ToString()</td>
                    @*<td>@p.propertyType.ToString()</td>
                        <td>@p.area.ToString()</td>*@
                    <td>
                        <a href="@($"propertyentry/{p.id}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle">EDIT</i>
                        </a>
                    </td>
                </tr>

            }


        </tbody>
    </table>



}