
@page "/reports"
@attribute [Authorize]
@inherits ReportsBase
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<h1 class="page-title">Reports</h1>



@*@if (!DataLoaded && string.IsNullOrEmpty(ErrorMessage))
    {
        <p><em>Loading...</em></p>
    }
    else if (DataLoaded && !string.IsNullOrEmpty(ErrorMessage))
    {
        <p><em>Error encountered while loading this page.</em></p>
    }
    else
    {*@
<hr />

<EditForm Model="@reportParameterViewModel">


    <div class="form-group row">
        <label for="AsOfDate" class="col-sm-2 col-form-label">As Of Date: </label>
        <div class="col-sm-2">
            <InputDate @bind-Value="@reportParameterViewModel.AsOfDate" class="form-control">
            </InputDate>
        </div>

    </div>

    <div class="form-group row">
        <label for="AsOfDate" class="col-sm-2 col-form-label">Report Type: </label>
        <div class="col-sm-2">
            <InputSelect @bind-Value="@reportParameterViewModel.ReportType" class="form-control">
                <option value="">--- select item ---</option>
                @foreach (var rf in reportParameterViewModel.ReferenceVM)
                {
                    <option value="@rf.ReferenceCode">@rf.ReferenceValue</option>
                }


            </InputSelect>
        </div>

    </div>

    <button type="submit" class="btn btn-primary edit-btn" @onclick="@CreateArticle"> Submit </button>
</EditForm>

