@page "/reports"
@attribute [Authorize]
@inherits ReportsBase
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<h1 class="page-title">Reports</h1>

<hr />

@if (!IsDataLoaded)
{
    <p><em>Loading...</em></p>
}
else if (IsDataLoaded && !string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Error encountered, please report it to the system administrator</em></p>
    <p><em>@ErrorMessage</em></p>
}
else

{

<EditForm Model="@reportParameterViewModel">


    <div class="form-group row">
        <label for="dateFrom" class="col-sm-2 col-form-label">Date From: </label>
        <div class="col-sm-2">
            <InputDate @bind-Value="@reportParameterViewModel.dateFrom" class="form-control">
            </InputDate>
        </div>

    </div>
    <div class="form-group row">
        <label for="dateTo" class="col-sm-2 col-form-label">Date To: </label>
        <div class="col-sm-2">
            <InputDate @bind-Value="@reportParameterViewModel.dateTo" class="form-control">
            </InputDate>
        </div>

    </div>

    <div class="form-group row">
        <label for="AsOfDate" class="col-sm-2 col-form-label">Report Type: </label>
        <div class="col-sm-2">
            <InputSelect @bind-Value="@reportParameterViewModel.ReportType" class="form-control">
                <option value="">--- select item ---</option>
                @foreach (var rf in reportParameterViewModel.ReferenceVM)
                {
                    <option value="@rf.ReferenceCode">@rf.ReferenceValue</option>
                }

            </InputSelect>
        </div>

    </div>

    <button type="submit" class="btn btn-primary edit-btn" @onclick="@CreateArticle"> Submit </button>
</EditForm>

}