

@page "/reportslist/{reportParams}"
@attribute [Authorize]
@inherits ReportsListBase






@if (!DataLoaded && string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Loading...</em></p>
}
else if (DataLoaded && !string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Error encountered while loading this page.</em></p>
}
else
{
    <hr />

    @*<button @onclick="@ExportToExcel" class="btn btn-dark table-btn quick-add-btn">Export To Excel</button>*@
    <a href="@_path" class="btn btn-dark table-btn quick-add-btn">Download Excel</a>
    <br />

    @if (reportType == "Employees")
    {
        <h1 class="page-title">Employees Reports</h1>

        <table class="table">
            <thead>
                <tr>
                    @*<th>Active</th>*@
                    <th>Hire Date</th>
                    <th>LastName</th>
                    <th>FirstName</th>
                    <th>MiddleName</th>
                    <th>Position</th>
                    <th>Address</th>
                    <th>ContactNo</th>
                    <th>Email</th>
                    <th>SSS</th>
                    <th>PhilHealth</th>
                    <th>PagIbig</th>
                    <th>BirthDate</th>
                    <th>Gender</th>
                    <th>EndDate</th>
                    <th>Remarks</th>
                    @*<th>Due Date</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var pi in rptEmployees)
                {
                    <tr>
                        @*<td>@pi.Active</td>*@
                        <td>@pi.HireDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>
                        <td>@pi.LastName</td>
                        <td>@pi.FirstName</td>
                        <td>@pi.MiddleName</td>
                        <td>@pi.Position</td>
                        <td>@pi.Address</td>
                        <td>@pi.ContactNo</td>
                        <td>@pi.Email</td>

                        <td>@pi.SSS</td>
                        <td>@pi.PhilHealth</td>
                        <td>@pi.PagIbig</td>
                        <td>@pi.BirthDate</td>
                        <td>@pi.Gender</td>
                        <td>@pi.EndDate</td>
                        <td>@pi.Remarks</td>

                        @*<td>@pi.dueDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>*@

                    </tr>
                }
            </tbody>
        </table>
    }


    @if (reportType == "GLDetails")
    {
        <h1 class="page-title">General Ledger Details</h1>

        <table class="table">
            <thead>
                <tr>

                    <th>GL Code - Desc</th>
                    <th>Document ID</th>
                    <th>Posting Date</th>
                    <th>Entry Date</th>
                    <th>DR Amount</th>
                    <th>CR Amount</th>
                    <th>Description</th>
                    <th>Reference</th>
                    <th>Remarks</th>
                    @*<th>Due Date</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var pi in rptGLDVM)
                {
                    <tr>
                        <td>@pi.glaccount</td>
                        <td>@pi.documentId</td>
                        <td>@pi.postingDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>
                        <td>@pi.transactionDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>
                        <td>@pi.DRAmount.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@pi.CRAmount.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@pi.description</td>
                        <td>@pi.reference</td>
                        <td>@pi.remarks</td>
                        @*<td>@pi.dueDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>*@

                    </tr>
                }
            </tbody>
        </table>
    }


    @if (reportType == "PropertyInventory")
    {
        <h1 class="page-title">Property Inventory Report</h1>

        <table class="table">
            <thead>
                <tr>

                    @*<th>Description</th>
                        <th>Property Type</th>
                        <th>Tenant Name</th>
                        <th>Contact Number 1</th>
                        <th>Contact Number 2</th>
                        <th>Contact Number 3</th>
                        <th>Email Address</th>
                        <th>Date From</th>
                        <th>Date To</th>*@
                    @*<th>Due Date</th>*@

                    <th>Property</th>
                    <th>CCTNumber</th>
                    <th>Owned/ Managed</th>
                    <th>Type</th>
                    <th>areaInSqm</th>
                    @*<th>Total Monthly Rental</th>*@
                    <th>Monthly Rental</th>
                    <th>Monthly Association</th>
                    <th>Total Monthly Rental</th>
                    <th>Lease Start</th>
                    <th>End</th>
                    <th>Tenant Proximity ID</th>
                    <th>Tenant Full Name</th>
                    <th>contactNumbers</th>
                    <th>emailAddress</th>
                    <th>Tenant Address</th>
                    <th>Work Address</th>
                    <th>Other Tenants Count</th>



                    <th>Sub Tenants 1 Name</th>
                    <th>Sub Tenants 1 Proximity ID</th>

                    <th>Sub Tenants 2 Name</th>
                    <th>Sub Tenants 2 Proximity ID</th>

                    <th>Sub Tenants 3 Name</th>
                    <th>Sub Tenants 3 Proximity ID</th>
                    @*<th>Registered SubTenants IDs</th>*@
                    <th>Registered  Residents Count</th>
                    <th>Sub Resident 1 Name</th>
                    <th>Sub Resident 1 Proximity ID</th>

                    <th>Sub Resident 2 Name</th>
                    <th>Sub Resident 2 Proximity ID</th>

                    <th>Sub Resident 3 Name</th>
                    <th>Sub Resident 3 Proximity ID</th>
                    @*<th>Registered  Residents</th>*@
                    <th>Emergency Contact Name</th>
                    <th>Emergency Contacts</th>
                    <th>Emergency Contact Address</th>
                    <th>Emergency Contact Relationship</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var pi in rptPropertypeInventoryMV)
                {
                    <tr>
                        @*<td>@pi.description</td>
                            <td>@pi.propertyType</td>
                            <td>@pi.TenantName</td>
                            <td>@pi.contactNumber</td>
                            <td>@pi.emailAddress</td>
                            <td>@pi.dateFrom.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>

                            <td>@pi.dateTo.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>*@
                        @*<td>@pi.dueDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>*@
                        <td>@pi.description</td>
                        <td>@pi.CCTNumber</td>
                        <td>@pi.Owned_Mgd</td>
                        <td>@pi.propertyType</td>
                        <td>@pi.areaInSqm.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        @*<td>@pi.totalBalance.ToString("#,##0.00;(#,##0.00);'-'")</td>*@
                        <td>@pi.monthlyRate.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@pi.associationDues.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@pi.monthlyRental.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@pi.dateFrom.ToString("MM/dd/yyyy")</td>
                        <td>@pi.dateTo.ToString("MM/dd/yyyy")</td>
                        <td>@pi.TenantProxyID</td>
                        <td>@pi.TenantName</td>
                        <td>@pi.Contacts</td>
                        <td>@pi.emailAddress</td>
                        <td>@pi.address</td>
                        <td>@pi.workAddress</td>
                        <td>@pi.SubTenant_Count</td>
                        <td>@pi.subTenantFullName1</td>
                        <td>@pi.subTenantProxyID1</td>

                        <td>@pi.subTenantFullName2</td>
                        <td>@pi.subTenantProxyID2</td>

                        <td>@pi.subTenantFullName3</td>
                        <td>@pi.subTenantProxyID3</td>
                        @*<td>@pi.SubTenants</td>*@
                        @*<td>@pi.subTenantIDs</td>*@
                        <td>@pi.Resident_Count</td>
                        @*<td>@pi.OtherResidents</td>*@
                        <td>@pi.otherResFullName1</td>
                        <td>@pi.otherResProxyID1</td>
                        <td>@pi.otherResFullName2</td>
                        <td>@pi.otherResProxyID2</td>
                        <td>@pi.otherResFullName3</td>
                        <td>@pi.otherResProxyID3</td>
                        <td>@pi.emergy_FullName</td>
                        <td>@pi.emergyContactNo</td>
                        <td>@pi.emergyAdrress</td>
                        <td>@pi.emergyRelationshipOwner</td>


                    </tr>
                }
            </tbody>
        </table>
    }



    @if (reportType == "BuildingDirectory")
    {
        <h1 class="page-title">Building Directory Report</h1>

        <table class="table">
            <thead>
                <tr>

                    <th>Description</th>
                    <th>Property Type</th>
                    <th>Occupant</th>
                    <th>Proximity ID</th>
                    <th>Contact Number</th>
                    <th>Email Address</th>


                    <th>Resident 1 Name</th>
                    <th>Resident 1 Proximity ID</th>

                    <th>Resident 2 Name</th>
                    <th>Resident 2 Proximity ID</th>

                    <th>Resident 3 Name</th>
                    <th>Resident 3 Proximity ID</th>

                    <th>Sub Tenant 1 Name</th>
                    <th>Sub Tenant 1 Proximity ID</th>

                    <th>Sub Tenant 2 Name</th>
                    <th>Sub Tenant 2 Proximity ID</th>

                    <th>Sub Tenant 3 Name</th>
                    <th>Sub Tenant 3 Proximity ID</th>
                    @*<th>Date From</th>
                        <th>Date To</th>*@
                    @*<th>Due Date</th>*@

                </tr>
            </thead>
            <tbody>
                @foreach (var pi in rptBuildingDirectoryVM)
                {
                    <tr>
                        <td>@pi.description</td>
                        <td>@pi.propertyType</td>
                        <td>@pi.TenantName</td>
                        <td>@pi.tenantProxID</td>
                        <td>@pi.contactNumber</td>
                        <td>@pi.emailAddress</td>

                        <td>@pi.otherResFullName1</td>
                        <td>@pi.otherResProxID1</td>

                        <td>@pi.otherResFullName2</td>
                        <td>@pi.otherResProxID2</td>

                        <td>@pi.otherResFullName3</td>
                        <td>@pi.otherResProxID3</td>

                        <td>@pi.subTenantFullName1</td>
                        <td>@pi.subTenantProxID1</td>

                        <td>@pi.subTenantFullName2</td>
                        <td>@pi.subTenantProxID2</td>

                        <td>@pi.subTenantFullName3</td>
                        <td>@pi.subTenantProxID3</td>
                        @*<td>@pi.dueDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>*@

                    </tr>
                }
            </tbody>
        </table>
    }



    @if (reportType == "Revenues")
    {
        <h1 class="page-title">Revenue Report</h1>

        <table class="table">
            <thead>
                <tr>

                    <th>Document ID</th>
                    <th>Transaction Entry Date</th>
                    <th>Posting Date</th>
                    <th>Description</th>
                    <th>Reference</th>
                    <th>Remarks</th>
                    <th>GL Account</th>
                    <th>Amount</th>


                </tr>
            </thead>
            <tbody>

                @foreach (var r in rptRevenues)
                {
                    <tr>
                        <td>@r.documentID.ToString()</td>
                        <td>@r.transactionDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>
                        <td>@r.postingDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>
                        <td>@r.description.ToString()</td>
                        <td>@r.reference.ToString()</td>
                        <td>@r.remarks.ToString()</td>
                        <td>@r.gLAccount.ToString()</td>
                        <td>@r.amount.ToString("n2")</td>

                    </tr>


                }

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Grand Total of Amount:</b></td>
                    <td><b>@rptRevenues.Sum(a => a.amount).ToString("n2")</b></td>
                </tr>
            </tbody>
        </table>
    }
    @if (reportType == "RentalIncomeDetails")
    {
        @if (CompanyId == "APMI")
        {
            <h1 class="page-title">Revenue Report</h1>
        }
        else
        {
            <h1 class="page-title">Rental Income Report</h1>
        }


        <table class="table">
            <thead>
                <tr>

                    <th>Description</th>
                    <th>Property Type</th>
                    <th>Tenant Name</th>
                    <th>Due Date</th>
                    <th>Transaction Date</th>
                    <th>Lease Start</th>
                    <th>Lease End</th>
                    <th>Mode Of Payment</th>
                    <th>Reference</th>
                    <th>Amount</th>
                    <th>Remarks</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var pi in rptRentalIncomeVM)
                {
                    <tr>
                        <td>@pi.description</td>
                        <td>@pi.propertyType</td>
                        <td>@pi.TenantName</td>
                        <td>@pi.dueDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>
                        <td>@pi.transactionDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>
                        <td>@pi.dateFrom.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>
                        <td>@pi.dateTo.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>
                        <td>@pi.ModeOfPayment</td>
                        <td>@pi.reference</td>
                        <td>@pi.amount.ToString("n2")</td>
                        <td>@pi.remarks</td>

                    </tr>


                }

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Grand Total of Amount:</b></td>
                    <td><b>@rptRentalIncomeVM.Sum(a => a.amount).ToString("n2")</b></td>
                    <td></td>

                </tr>
            </tbody>
        </table>
    }

    @if (reportType == "OtherIncomeDetails")
    {

        <h1 class="page-title">Other Income Details Report</h1>

        <table class="table">
            <thead>
                <tr>

                    <th>Transaction Date</th>
                    <th>GL Account</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Document ID</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pi in rptOtherIncomeDetailVM)
                {
                    <tr>
                        <td>@pi.transactionDate.ToString("MM/dd/yyyy")</td>
                        <td>@pi.gLAccount.ToString()</td>
                        <td>@pi.amount.ToString("n2")</td>
                        <td>@pi.description</td>
                        <td>@pi.documentID</td>
                        <td>@pi.comments</td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td><b>Grand Total of Amount:</b></td>
                    <td><b>@rptOtherIncomeDetailVM.Sum(a => a.amount).ToString("n2")</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>

        </table>
    }

    @if (reportType == "Expenses")
    {

        <h1 class="page-title">Expense Detail Report</h1>

        <table class="table">
            <thead>
                <tr>

                    <th>Transaction Date</th>
                    <th>Payee</th>
                    <th>Receipt No.</th>
                    <th>Expense Title</th>
                    <th>Amount</th>
                    <th>Remarks</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var pi in rptExpensesVM)
                {
                    <tr>
                        <td>@pi.transactionDate.ToString("MM/dd/yyyy")</td>
                        <td>@pi.Payee</td>
                        <td>@pi.receiptNo</td>
                        <td>@pi.expenseTitle</td>
                        <td>@pi.amount.ToString("#,##0.00;(#,##0.00);-")</td>
                        <td>@pi.remarks</td>

                    </tr>

                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Grand Total of Amount:</b></td>
                    <td><b>@rptExpensesVM.Sum(a => a.amount).ToString("n2")</b></td>
                    <td></td>

                </tr>
            </tbody>
        </table>
    }

    @if (reportType == "NetIncomeSummary")
    {
        @if (CompanyId != "ADBCA")
        {
            <h1 class="page-title">Net Income Summary Report</h1>
        }
        else
        {
            <h1 class="page-title">Collections Summary Report</h1>
        }


        <table class="table">
            <thead>
                <tr>

                    <th>Rental Revenue</th>
                    <th>January</th>
                    <th>February</th>
                    <th>March</th>
                    <th>April</th>
                    <th>May</th>
                    <th>June</th>
                    <th>July</th>
                    <th>August</th>
                    <th>September</th>
                    <th>October</th>
                    <th>November</th>
                    <th>December</th>
                    <th>Total</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var pi in rptNetIncomeSummaryVM)
                {
                    <tr>
                        @if (pi.rentalRevenue == "TOTAL RENTAL INCOME" || pi.rentalRevenue == "TOTAL INCOME" || pi.rentalRevenue == "TOTAL" || pi.rentalRevenue == "EXPENSES" || pi.rentalRevenue == "OTHER EXPENSES" || pi.rentalRevenue == "NET INCOME")

                        {

                            <td><b>@pi.rentalRevenue</b></td>
                            <td><b>@pi.January.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            <td><b>@pi.Febuary.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            <td><b>@pi.March.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            <td><b>@pi.April.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            <td><b>@pi.May.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            <td><b>@pi.June.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            <td><b>@pi.July.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            <td><b>@pi.August.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            <td><b>@pi.September.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            <td><b>@pi.October.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            <td><b>@pi.November.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            <td><b>@pi.December.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            <td><b>@pi.Total.ToString("#,##0.00;(#,##0.00);'-'")</b></td>

                        }
                        else
                        {
                            <td>@pi.rentalRevenue</td>
                            <td> @pi.January.ToString("#,##0.00;(#,##0.00);'-'") </td>
                            <td>@pi.Febuary.ToString("#,##0.00;(#,##0.00);'-'")</td>
                            <td>@pi.March.ToString("#,##0.00;(#,##0.00);'-'")</td>
                            <td>@pi.April.ToString("#,##0.00;(#,##0.00);'-'")</td>
                            <td>@pi.May.ToString("#,##0.00;(#,##0.00);'-'")</td>
                            <td>@pi.June.ToString("#,##0.00;(#,##0.00);'-'")</td>
                            <td>@pi.July.ToString("#,##0.00;(#,##0.00);'-'")</td>
                            <td>@pi.August.ToString("#,##0.00;(#,##0.00);'-'")</td>
                            <td>@pi.September.ToString("#,##0.00;(#,##0.00);'-'")</td>
                            <td>@pi.October.ToString("#,##0.00;(#,##0.00);'-'")</td>
                            <td>@pi.November.ToString("#,##0.00;(#,##0.00);'-'")</td>
                            <td>@pi.December.ToString("#,##0.00;(#,##0.00);'-'")</td>
                            <td>@pi.Total.ToString("#,##0.00;(#,##0.00);'-'")</td>

                        }
                    </tr>

                }
            </tbody>
        </table>
    }

    @if (reportType == "TrialBalance")
    {

        <h1 class="page-title">Trial Balance Report</h1>

        <table class="table">
            <thead>
                <tr>

                    <th>Description</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Amount</th>


                </tr>
            </thead>
            <tbody>
                @{
                    int cnt = 0;

                    int rowcount = rptTrialBalanceVM.Count;


                    @foreach (var pi in rptTrialBalanceVM)
                    {
                        <tr>
                            @if (cnt == rowcount - 1)
                            {
                                <td><b>@pi.accountDesc</b></td>
                                <td><b>@pi.debit</b></td>
                                <td><b>@pi.credit</b></td>
                                <td><b>@pi.amount.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            }
                            else
                            {
                                <td>@pi.accountDesc</td>
                                <td><b>@pi.debit</b></td>
                                <td><b>@pi.credit</b></td>
                                <td>@pi.amount.ToString("#,##0.00;(#,##0.00);'-'")</td>

                            }


                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
        </table>
    }

    @if (reportType == "NetIncome")
    {


        @if (CompanyId != "ADBCA")
        {
            <h1 class="page-title">Income Statement</h1>
        }
        else
        {
            <h1 class="page-title">Receipts Over Expenses</h1>
        }




        <table class="table">
            <thead>
                <tr>
                    <th>Revenue</th>
                    <th>Year To Date</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int cnt = 0;
                    @foreach (var pi in rptNetIncomeVM)
                    {
                        <tr>
                            @if (cnt == 4 || cnt == 9 || cnt == 23 || cnt == 26)
                            {
                                <td><b>@pi.Revenue</b></td>
                                <td><b>@pi.YearToDate.ToString("#,##0.00;(#,##0.00);-")</b></td>
                            }
                            else
                            {
                                <td>@pi.Revenue </td>
                                <td>@pi.YearToDate.ToString("#,##0.00;(#,##0.00);-") </td>

                            }


                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
        </table>
    }

    @if (reportType == "BalanceSheet")
    {

        <h1 class="page-title">Balance Sheet</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Balance Sheet</th>
                    <th>As of @dateTo.ToString("MM/dd/yyyy")</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int cnt = 0;
                    @foreach (var pi in rptbalanceSheetVM)
                    {

                        <tr>
                            @if (@pi.accountDesc == "ASSETS" || @pi.accountDesc == "Total Assets" || @pi.accountDesc == "LIABILITIES" || @pi.accountDesc == "Total Liabilities" || @pi.accountDesc == "EQUITY" || @pi.accountDesc == "Total Equity" || @pi.accountDesc == "Total Liabilities & Equity")
                            {

                                <td><b>@pi.accountDesc</b></td>
                                <td><b>@pi.amount.ToString("#,##0.00;(#,##0.00);-") </b></td>
                            }
                            else
                            {
                                <td>@pi.accountDesc </td>
                                <td>@pi.amount.ToString("#,##0.00;(#,##0.00);-") </td>


                            }
                        </tr>

                        cnt = cnt + 1;

                    }
                }
            </tbody>
        </table>
    }

    @if (reportType == "ReceiptsOverExpenses")
    {

        <h1 class="page-title">Receipts Over Expenses</h1>

        <table class="table">
            @*<thead>
                    <tr>

                        <th>Description</th>
                        <th>Amount</th>

                    </tr>
                </thead>*@
            <tbody>
                @{
                    int cnt = 0;

                    int rowcount = rptReceiptsOverExpensesVM.Count;


                    @foreach (var pi in rptReceiptsOverExpensesVM)
                    {
                        <tr>
                            @if (cnt == rowcount - 1)
                            {
                                <td><b>@pi.accountDesc</b></td>
                                <td><b>@pi.amount.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                            }
                            else
                            {
                                <td>@pi.accountDesc</td>
                                <td>@pi.amount.ToString("#,##0.00;(#,##0.00);'-'")</td>

                            }


                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
        </table>
    }

    @if (reportType == "Collections")
    {

        <h1 class="page-title">Collection Report</h1>



        <table class="table" border="1px">

            <tr>
                <th colspan="8"></th>
                <th colspan="6" align="center">1st Quarter</th>
                <th colspan="6" align="center">2nd Quarter</th>
                <th colspan="6" align="center">3rd Quarter</th>
                <th colspan="6" align="center">4th Quarter</th>
            </tr>
            <tr>
                <td colspan="6"></td>
                <td colspan="2" align="center">Lease period</td>
                <td colspan="2" align="center">January</td>
                <td colspan="2" align="center">February</td>
                <td colspan="2" align="center">March</td>
                <td colspan="2" align="center">April</td>
                <td colspan="2" align="center">May</td>
                <td colspan="2" align="center">June</td>
                <td colspan="2" align="center">July</td>
                <td colspan="2" align="center">August</td>
                <td colspan="2" align="center">September</td>
                <td colspan="2" align="center">October</td>
                <td colspan="2" align="center">November</td>
                <td colspan="2" align="center">December</td>
            </tr>
            <tr>
                <td>UNIT</td>
                <td>Name of Lessee</td>
                <td>Classification</td>
                <td>Gross</td>
                <td>Rental Rate</td>
                <td>Dues</td>
                <td>Start</td>
                <td>End</td>
                <td>Rent</td>
                <td>Dues</td>
                <td>Rent</td>
                <td>Dues</td>
                <td>Rent</td>
                <td>Dues</td>
                <td>Rent</td>
                <td>Dues</td>
                <td>Rent</td>
                <td>Dues</td>
                <td>Rent</td>
                <td>Dues</td>
                <td>Rent</td>
                <td>Dues</td>
                <td>Rent</td>
                <td>Dues</td>
                <td>Rent</td>
                <td>Dues</td>
                <td>Rent</td>
                <td>Dues</td>
                <td>Rent</td>
                <td>Dues</td>
                <td>Rent</td>
                <td>Dues</td>
            </tr>

            @{

                int rowcount = 0;
                rowcount = rptCollectionVM.Count;
            }

            @foreach (var cvm in rptCollectionVM)
            {
                <tr>
                    @*@if (@cvm.tenantName == "" && @cvm.startDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "") = "" && @cvm.endDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "") = "")*@
                    @if (@cvm.tenantName == null || @cvm.classifications == null)
                    {
                        <td><b>@cvm.unit</b></td>
                        <td><b>@cvm.tenantName</b></td>
                        <td><b>@cvm.classifications</b></td>
                        <td><b>@cvm.gross.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.rentalRate.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.dues.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.startDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</b></td>
                        <td><b>@cvm.endDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</b></td>

                        <td><b>@cvm.January_Rent.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.January_Due.ToString("#,##0.00;(#,##0.00);'-'")</b></td>

                        <td><b>@cvm.Febuary_Rent.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.Febuary_Due.ToString("#,##0.00;(#,##0.00);'-'")</b></td>

                        <td><b>@cvm.March_Rent.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.March_Due.ToString("#,##0.00;(#,##0.00);'-'")</b></td>

                        <td><b>@cvm.April_Rent.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.April_Due.ToString("#,##0.00;(#,##0.00);'-'")</b></td>

                        <td><b>@cvm.May_Rent.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.May_Due.ToString("#,##0.00;(#,##0.00);'-'")</b></td>

                        <td><b>@cvm.June_Rent.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.June_Due.ToString("#,##0.00;(#,##0.00);'-'")</b></td>

                        <td><b>@cvm.July_Rent.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.July_Due.ToString("#,##0.00;(#,##0.00);'-'")</b></td>

                        <td><b>@cvm.August_Rent.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.August_Due.ToString("#,##0.00;(#,##0.00);'-'")</b></td>

                        <td><b>@cvm.September_Rent.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.September_Due.ToString("#,##0.00;(#,##0.00);'-'")</b></td>

                        <td><b>@cvm.October_Rent.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.October_Due.ToString("#,##0.00;(#,##0.00);'-'")</b></td>

                        <td><b>@cvm.November_Rent.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.November_Due.ToString("#,##0.00;(#,##0.00);'-'")</b></td>

                        <td><b>@cvm.December_Rent.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                        <td><b>@cvm.December_Due.ToString("#,##0.00;(#,##0.00);'-'")</b></td>
                    }
                    else
                    {
                        <td>@cvm.unit</td>
                        <td>@cvm.tenantName</td>
                        <td>@cvm.classifications</td>
                        <td>@cvm.gross.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.rentalRate.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.dues.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.startDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>
                        <td>@cvm.endDate.ToString("MM/dd/yyyy").Replace("01/01/0001", "")</td>

                        <td>@cvm.January_Rent.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.January_Due.ToString("#,##0.00;(#,##0.00);'-'")</td>

                        <td>@cvm.Febuary_Rent.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.Febuary_Due.ToString("#,##0.00;(#,##0.00);'-'")</td>

                        <td>@cvm.March_Rent.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.March_Due.ToString("#,##0.00;(#,##0.00);'-'")</td>

                        <td>@cvm.April_Rent.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.April_Due.ToString("#,##0.00;(#,##0.00);'-'")</td>

                        <td>@cvm.May_Rent.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.May_Due.ToString("#,##0.00;(#,##0.00);'-'")</td>

                        <td>@cvm.June_Rent.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.June_Due.ToString("#,##0.00;(#,##0.00);'-'")</td>

                        <td>@cvm.July_Rent.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.July_Due.ToString("#,##0.00;(#,##0.00);'-'")</td>

                        <td>@cvm.August_Rent.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.August_Due.ToString("#,##0.00;(#,##0.00);'-'")</td>

                        <td>@cvm.September_Rent.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.September_Due.ToString("#,##0.00;(#,##0.00);'-'")</td>

                        <td>@cvm.October_Rent.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.October_Due.ToString("#,##0.00;(#,##0.00);'-'")</td>

                        <td>@cvm.November_Rent.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.November_Due.ToString("#,##0.00;(#,##0.00);'-'")</td>

                        <td>@cvm.December_Rent.ToString("#,##0.00;(#,##0.00);'-'")</td>
                        <td>@cvm.December_Due.ToString("#,##0.00;(#,##0.00);'-'")</td>

                    }
                </tr>


            }


        </table>
    }


}
