@page "/tenantlist"

@attribute [Authorize]
@inherits TenantListBase


@*<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li class="active"><a href="setup">SET UP</a></li>
                <li><a href="glaccountlist">&nbsp;&nbsp;&nbsp;&nbsp;General Ledger&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="vendorlist">&nbsp;&nbsp;&nbsp;&nbsp;Vendors&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="propertylist">&nbsp;&nbsp;&nbsp;&nbsp;Properties&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="tenantlist">&nbsp;&nbsp;&nbsp;&nbsp;Tenants&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="propertydirectorylist">PROPERTY DIRECTORY</a></li>

            </ul>
        </div>
    </nav>*@
<div id="DivSetupList">
    <ul>
        @if (!string.IsNullOrEmpty(CompanyId) && CompanyId.Equals("ASRC", StringComparison.OrdinalIgnoreCase))
        {
            <li><a href="glaccountlist">General Ledger</a></li>
            <li><a href="vendorlist">Vendors</a></li>
            <li><a href="propertylist">Properties</a></li>
            <li><a href="tenantlist" class="active">Tenants</a></li>
        }

        @if (!string.IsNullOrEmpty(CompanyId) && CompanyId.Equals("ADBCA", StringComparison.OrdinalIgnoreCase))
        {
            <li><a href="glaccountlist">General Ledger</a></li>
            <li><a href="vendorlist">Vendors</a></li>
            <li><a href="propertylist">Properties</a></li>
            <li><a href="tenantlist" class="active">Tenants</a></li>
        }

        @if (!string.IsNullOrEmpty(CompanyId) && CompanyId.Equals("APMI", StringComparison.OrdinalIgnoreCase))
        {
            <li><a href="glaccountlist">General Ledger</a></li>
            <li><a href="vendorlist">Vendors</a></li>
            <li><a href="customerlist">Customers </a></li>
            <li><a href="employeelist">Employees </a></li>

        }

    </ul>


    <h3>Tenant List</h3>

    @if (!DataLoaded && string.IsNullOrEmpty(ErrorMessage))
    {
        <p><em>Loading...</em></p>
    }
    else if (DataLoaded && !string.IsNullOrEmpty(ErrorMessage))
    {
        <p><em>Error encountered while loading this page.</em></p>
    }
    else
    {
        <hr />
        <button type="submit" @onclick="@TenantAdd" class="btn btn-primary edit-btn"> Add Tenant </button>
        <br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Property Type</th>
                    <th>Size</th>
                    <th>Tenant</th>
                    @if (CompanyId.ToUpper() != "ADBCA")
                    {
                        <th>Lease Start</th>
                        <th>Lease End</th>
                    }

                    <th>Monthly Rate</th>
                    <th>Association Rate</th>
                    <th>Penalty %</th>
                    <th>WTax {Y/N}</th>
                    <th></th>
                    <th></th>
                    @*<th>Total Balance</th>*@



                </tr>
            </thead>
            <tbody>
                @foreach (var pi in propertyDirectories)
                {
                    <tr>
                        <td>@pi.propertyDesc</td>
                        <td>@pi.propertyEntity.propertyType.ToString().Replace("Resident", "Residential")</td>
                        <td>@pi.propertyEntity.areaInSqm.ToString("#,##0.00;(#,##0.00);")</td>
                        <td>@pi.tenantLastNName, @pi.tenantFirtsName </td>
                        @if (CompanyId.ToUpper() != "ADBCA")
                        {
                            <td> @pi.dateFrom.ToString("MM/dd/yyyy").Replace("01/01/1900", "-") </td>
                            <td> @pi.dateTo.ToString("MM/dd/yyyy").Replace("12/31/2099", "-").Replace("01/01/1900", "-") </td>
                        }

                        <td>@pi.monthlyRate.ToString("n2").Replace("01/01/0001", "")</td>
                        <td>@pi.associationDues.ToString("n2").Replace("01/01/0001", "")</td>
                        <td>@pi.penaltyPct.ToString("##")</td>
                        <td>@pi.withWT</td>
                        @*<td>@pi.totalBalance.ToString("n2").Replace("01/01/0001", "")</td>*@
                        <td>
                            <a href="@($"tenantentry/{pi.id}/{pi.tenandId}")" class="btn btn-primary table-btn">
                                <i class="fas fa-info-circle">EDIT</i>
                            </a>
                        </td>
                        @*<td>
                                <button type="button" class="btn btn-danger edit-btn" @onclick="@(() => DeleteArticle(pi.id.ToString()))">DELETE</button>
                                <button type="button" class="btn btn-danger edit-btn"> Delete </button>

                            </td>*@



                    </tr>
                }
            </tbody>
        </table>



    }
    </div>