@page "/tenantentry"
@page "/tenantentry/{id}/{tenandId}"
@attribute [Authorize]
@inherits TenantEntryBase





    <h3>Resident/Tenant Entries</h3>
<hr />

@if (!IsDataLoaded)
{
    <p><em>Loading...</em></p>
}
else if (IsDataLoaded && !string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Error encountered, please report it to the system administrator</em></p>
    <p><em>@ErrorMessage</em></p>
}
else
{
<EditForm Model="@tenants" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>


    <div class="form-group row">
        <label for="errorMessagePropertyDateRange" class="offset-sm-2 col-sm-8" style="color: red;">@errorMessagePropertyDateRange</label>
    </div>


    <div class="form-group row">
        <label for="accountCode" class="col-sm-2 col-form-label">Proximity ID:</label>
        <div class="col-sm-5">

            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@tenants.tenantProxID" class="form-control">
                </InputText>
            }
            else
            {
                <label>@tenants.tenantProxID</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.tenantProxID)" />
    </div>

    <div class="form-group row">
        <label for="accountCode" class="col-sm-2 col-form-label">Last Name:</label>
        <div class="col-sm-5">

            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@tenants.lastName" class="form-control">
                </InputText>
            }
            else
            {
                <label>@tenants.lastName</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.lastName)" />
    </div>



    <div class="form-group row">
        <label for="accountDesc" class="col-sm-2 col-form-label">First Name: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@tenants.firstName" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.firstName</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.firstName)" />
    </div>



    <div class="form-group row">
        <label for="balance" class="col-sm-2 col-form-label">Middle Name: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@tenants.middleName" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.middleName</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.middleName)" />
    </div>


    <div class="form-group row">
        <label for="balance" class="col-sm-2 col-form-label">Valid IDs: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@tenants.TenantIDs" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.TenantIDs</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.TenantIDs)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Home Address: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputTextArea rows="4" @bind-Value="@tenants.homeAddress" class="form-control">

                </InputTextArea>
            }
            else
            {
                <label>@tenants.homeAddress</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.homeAddress)" />
    </div>

    <div class="form-group row">
        <label for="Revenue" class="col-sm-2 col-form-label">Contact Number 1: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.contactNumber" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.contactNumber</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.contactNumber)" />
    </div>


    <div class="form-group row">
        <label for="Revenue" class="col-sm-2 col-form-label">Contact Number 2: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.contactNo2" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.contactNo2</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.contactNo2)" />
    </div>


    <div class="form-group row">
        <label for="Revenue" class="col-sm-2 col-form-label">Contact Number 3: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.contactNo3" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.contactNo3</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.contactNo3)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Email Address: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputTextArea rows="4" @bind-Value="@tenants.emailAddress" class="form-control">

                </InputTextArea>
            }
            else
            {
                <label>@tenants.emailAddress</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.emailAddress)" />
    </div>

    <hr />
    <h4>Emergency Contact Details</h4>
    <div class="form-group row">

        <label for="Expense" class="col-sm-2 col-form-label">Full Name: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.emergyFullName" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.emergyFullName</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.emergyFullName)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Contact No.: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.emergyContactNo" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.emergyContactNo</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.emergyContactNo)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Address: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputTextArea rows="4" @bind-Value="@tenants.emergyAdrress" class="form-control">

                </InputTextArea>
            }
            else
            {
                <label>@tenants.emergyAdrress</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.emergyAdrress)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Relationship To Primary: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.emergyRelationshipOwner" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.emergyRelationshipOwner</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.emergyRelationshipOwner)" />
    </div>
    <hr />



    <hr />

    <h4>Other Lessees</h4>


    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Proximity ID 1: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantProxID1" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantProxID1</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantProxID1)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Full Name 1: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantFullName1" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantFullName1</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantFullName1)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Valid IDs 1: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantID1" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantID1</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantID1)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Home Address 1: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputTextArea row="4" @bind-Value="@tenants.subTenantHomeAddress1" class="form-control">

                </InputTextArea>
            }
            else
            {
                <label>@tenants.subTenantHomeAddress1</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantHomeAddress1)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Work Address 1: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputTextArea row="4" @bind-Value="@tenants.subTenantWorkAddress1" class="form-control">

                </InputTextArea>
            }
            else
            {
                <label>@tenants.subTenantWorkAddress1</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantWorkAddress1)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Contact No. 1: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantContactNo1" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantContactNo1</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantContactNo1)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Email Address 1: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantEmailAdd1" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantEmailAdd1</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantEmailAdd1)" />
    </div>


    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Relationship To Primary 1: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.RelToPrimary1" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.RelToPrimary1</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.RelToPrimary1)" />
    </div>



    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Proximity ID 2: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantProxID2" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantProxID2</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantProxID2)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Full Name 2: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantFullName2" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantFullName2</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantFullName2)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label"> Valid IDs 2: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantID2" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantID2</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantID2)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Home Address 2: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputTextArea row="4" @bind-Value="@tenants.subTenantHomeAddress2" class="form-control">

                </InputTextArea>
            }
            else
            {
                <label>@tenants.subTenantHomeAddress2</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantHomeAddress2)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Work Address 2: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputTextArea row="4" @bind-Value="@tenants.subTenantWorkAddress2" class="form-control">

                </InputTextArea>
            }
            else
            {
                <label>@tenants.subTenantWorkAddress2</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantWorkAddress2)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Contact No. 2: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantContactNo2" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantContactNo2</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantContactNo2)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Email Address 2: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantEmailAdd2" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantEmailAdd2</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantEmailAdd2)" />
    </div>


    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Relationship To Primary 2: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.RelToPrimary2" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.RelToPrimary2</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.RelToPrimary2)" />
    </div>










    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Proximity ID 3: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantProxID3" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantProxID3</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantProxID3)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Full Name 3: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantFullName3" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantFullName3</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantFullName3)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Valid IDs 3: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantID3" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantID3</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantID3)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Home Address 3: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputTextArea row="4" @bind-Value="@tenants.subTenantHomeAddress3" class="form-control">

                </InputTextArea>
            }
            else
            {
                <label>@tenants.subTenantHomeAddress3</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantHomeAddress3)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Work Address 3: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputTextArea row="4" @bind-Value="@tenants.subTenantWorkAddress3" class="form-control">

                </InputTextArea>
            }
            else
            {
                <label>@tenants.subTenantWorkAddress3</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantWorkAddress3)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Contact No. 3: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantContactNo3" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantContactNo3</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantContactNo3)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Email Address 3: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.subTenantEmailAdd3" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.subTenantEmailAdd3</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.subTenantEmailAdd3)" />
    </div>


    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Relationship To Primary 3: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputText @bind-Value="@tenants.RelToPrimary3" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.RelToPrimary3</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.RelToPrimary3)" />
    </div>

    <hr />

    @if (IsEditOnly == true)
    {
        <div class="form-group row">
            <label for="properties" class="col-sm-2 col-form-label">Property: </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {
                    <InputSelect @bind-Value="@tenants.propertyid" class="form-control" disabled>
                        <option value=""></option>
                        @foreach (var p in tenants.properties)
                                    {
                            <option value="@p.id">@p.description</option>
                                    }
                        /**/


                    </InputSelect>
                }
                else
                {
                    <label>@tenants.propertyid</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.propertyid)" />
        </div>
    }
    else
    {
        <div class="form-group row">
            <label for="properties" class="col-sm-2 col-form-label">Property: </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {
                    <InputSelect @bind-Value="@tenants.propertyid" class="form-control">
                        <option value=""></option>
                        @foreach (var p in tenants.properties)
                                    {
                            <option value="@p.id">@p.description</option>
                                    }
                        /**/


                    </InputSelect>
                }
                else
                {
                    <label>@tenants.propertyid</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.propertyid)" />
        </div>

    }




    @if (CompanyId.ToUpper() != "ADBCA")
    {

        <div class="form-group row">
            <label for="dateFrom" class="col-sm-2 col-form-label">Date From: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {
                    <InputDate @bind-Value="@tenants.dateFrom" class="form-control">
                    </InputDate>
                }
                else
                {
                    <label>@tenants.dateFrom</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.dateFrom)" />
        </div>
        <div class="form-group row">
            <label for="dateTo" class="col-sm-2 col-form-label">Date To: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {
                    <InputDate @bind-Value="@tenants.dateTo" class="form-control">
                    </InputDate>
                }
                else
                {
                    <label>@tenants.dateTo</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.dateTo)" />
        </div>

        <div class="form-group row">
            <label for="monthlyRate" class="col-sm-2 col-form-label">Monthly Rental: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {
                    <InputNumber @bind-Value="@tenants.monthlyRate" class="form-control">
                    </InputNumber>
                }
                else
                {
                    <label>@tenants.monthlyRate</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.monthlyRate)" />
        </div>

    }



    <div class="form-group row">
        <label for="penaltyPct" class="col-sm-2 col-form-label">Penalty %: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputNumber @bind-Value="@tenants.penaltyPct" class="form-control">
                </InputNumber>
            }
            else
            {
                <label>@tenants.penaltyPct</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.penaltyPct)" />
    </div>



    <div class="form-group row">
        <label for="ratePerSQM" class="col-sm-2 col-form-label">Monthly Association Rate Per SQM: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputNumber @bind-Value="@tenants.ratePerSQMAssocDues" class="form-control">
                </InputNumber>
            }
            else
            {
                <label>@tenants.ratePerSQMAssocDues</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.ratePerSQMAssocDues)" />
    </div>

    <div class="form-group row">
        <label for="properties" class="col-sm-2 col-form-label">Withholding Tax Switch : </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputSelect @bind-Value="@tenants.withWT" class="form-control">
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </InputSelect>
            }
            else
            {
                <label>@tenants.withWT</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.withWT)" />
    </div>
    <hr />
    <br />


    <InputFile multiple OnChange="HandleSelection" />
    @*<br />
        <br />

        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>File Size</th>
                    <th>File Type</th>
                    <th></th>
                </tr>
            </thead>
            @if (selectedFiles != null)
            {

                foreach (var file in selectedFiles)
                {
                    var isLoading = file.Data.Position > 0;


                    <tbody>

                        <tr>
                            <td>@file.Name</td>
                            <td>@file.Size bytes </td>
                            <td>@file.Type</td>


                        </tr>

                    </tbody>

                }
            }



        </table>*@

    <hr />
    <h3>File Attachment</h3>
    <hr />

    <table>
        <thead>
            <tr>
                <th>File Name</th>
                @*<th>File Size</th>*@
                <th></th>
            </tr>
        </thead>


        <tbody>

            @if (tenants != null && tenants.tenantDocument != null)
            {
                foreach (var td in tenants.tenantDocument.Where(a => !a.deleted).ToList())
                {
                    <tr>

                        @*<td>@td.fileDesc </td>*@
                        @*<td>@td.fi</td>*@


                        <td>
                            @*<a href="@($"/TenantDocument/{td.filePath.ToString()}")" class="btn btn-primary table-btn">*@
                            @{
                                //string _path = $"/TenantDocument/" + { td.fileName.ToString()};
                                var _path = $"Uploaded/Attachments/{td.fileName}{td.extName}";
                                //var _path = td.filePath;

                                @*<a href="@_path"
                                       class="btn btn-primary table-btn" target="_blank">
                                        <i class="fas fa-info-circle"> DOWNLOAD </i>
                                    </a>*@

                                <a href="@_path" target="_blank">@td.fileDesc</a>
                                @*<a href=@td.filePath class="btn btn-dark table-btn quick-add-btn" download>Download</a>*@

                            }

                        </td>
                        <td>
                            <button type="button" class="btn btn-danger table-btn" @onclick="@(() => HandleDeleteAttachment(td.id.ToString()))">
                                <i class="fas fa-info-circle">Delete</i>
                            </button>

                        </td>

                    </tr>
                }
            }
        </tbody>

    </table>


    <br />


    <br />

    @if (!IsViewOnly)
    {

        @if (!IsEditOnly)
        {
            <button type="submit" class="btn btn-primary edit-btn" onclick="return confirm('Are you sure you want to post this Tenant Entry?');"> Save </button>

        }
        else
        {
            <button type="submit" class="btn btn-primary edit-btn" onclick="return confirm('Are you sure you want to post this Tenant Entry?');"> Save </button>

        }


    }

    <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToList">Return</a>

</EditForm>


}
