@page "/tenantentry"
@page "/tenantentry/{id}/{tenandId}"
@attribute [Authorize]
@inherits TenantEntryBase





<h3>Tenant Entries</h3>
<hr />

@if (!IsDataLoaded)
{
    <p><em>Loading...</em></p>
}
else if (IsDataLoaded && !string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Error encountered, please report it to the system administrator</em></p>
    <p><em>@ErrorMessage</em></p>
}
else
{
<EditForm Model="@tenants" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>


    <div class="form-group row">
        <label for="errorMessagePropertyDateRange" class="offset-sm-2 col-sm-8" style="color: red;">@errorMessagePropertyDateRange</label>
    </div>

    <div class="form-group row">
        <label for="accountCode" class="col-sm-2 col-form-label"  >Last Name:</label>
        <div class="col-sm-5">

            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@tenants.lastName" class="form-control">
                </InputText>
            }
            else
            {
                <label>@tenants.lastName</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.lastName)" />
    </div>



    <div class="form-group row">
        <label for="accountDesc" class="col-sm-2 col-form-label">First Name: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@tenants.firstName" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.firstName</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.firstName)" />
    </div>



    <div class="form-group row">
        <label for="balance" class="col-sm-2 col-form-label">Middle Name: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@tenants.middleName" class="form-control">

                </InputText>
            }
            else
            {
                <label>@tenants.middleName</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.middleName)" />
    </div>

    <div class="form-group row">
        <label for="Revenue" class="col-sm-2 col-form-label">Contact Number: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {

                <InputTextArea rows="4" @bind-Value="@tenants.contactNumber" class="form-control">

                </InputTextArea>
            }
            else
            {
                <label>@tenants.contactNumber</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.contactNumber)" />
    </div>

    <div class="form-group row">
        <label for="Expense" class="col-sm-2 col-form-label">Email Address: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {

                <InputTextArea rows="4" @bind-Value="@tenants.emailAddress" class="form-control">

                </InputTextArea>
            }
            else
            {
                <label>@tenants.emailAddress</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.emailAddress)" />
    </div>

    <hr />

    <div class="form-group row">
        <label for="properties" class="col-sm-2 col-form-label">Property: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputSelect @bind-Value="@tenants.propertyid" class="form-control">
                    <option value=""></option>
                    @foreach (var p in tenants.properties)
                            {
                        <option value="@p.id">@p.description</option>
                            }


                </InputSelect>
            }
            else
            {
                <label>@tenants.propertyid</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.propertyid)" />
    </div>


    <div class="form-group row">
        <label for="dateFrom" class="col-sm-2 col-form-label">Date From: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputDate @bind-Value="@tenants.dateFrom" class="form-control">
                </InputDate>
            }
            else
            {
                <label>@tenants.dateFrom</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.dateFrom)" />
    </div>
    <div class="form-group row">
        <label for="dateTo" class="col-sm-2 col-form-label">Date To: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputDate @bind-Value="@tenants.dateTo" class="form-control">
                </InputDate>
            }
            else
            {
                <label>@tenants.dateTo</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.dateTo)" />
    </div>





    <div class="form-group row">
        <label for="penaltyPct" class="col-sm-2 col-form-label">Penalty %: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputNumber @bind-Value="@tenants.penaltyPct" class="form-control">
                </InputNumber>
            }
            else
            {
                <label>@tenants.penaltyPct</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.penaltyPct)" />
    </div>

    <div class="form-group row">
        <label for="monthlyRate" class="col-sm-2 col-form-label">Monthly Rate: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputNumber @bind-Value="@tenants.monthlyRate" class="form-control">
                </InputNumber>
            }
            else
            {
                <label>@tenants.monthlyRate</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.monthlyRate)" />
    </div>

    <div class="form-group row">
        <label for="ratePerSQM" class="col-sm-2 col-form-label">Association Due Rate Per SQM: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputNumber @bind-Value="@tenants.ratePerSQMAssocDues" class="form-control">
                </InputNumber>
            }
            else
            {
                <label>@tenants.ratePerSQMAssocDues</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.ratePerSQMAssocDues)" />
    </div>

    <div class="form-group row">
        <label for="properties" class="col-sm-2 col-form-label">Withholding Tax Switch : </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputSelect @bind-Value="@tenants.withWT" class="form-control">
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </InputSelect>
            }
            else
            {
                <label>@tenants.withWT</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => tenants.withWT)" />
    </div>
    <hr />
    <br />


    <InputFile multiple OnChange="HandleSelection" />
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>File Size</th>
                <th>File Type</th>
                <th></th>
            </tr>
        </thead>
        @if (selectedFiles != null)
        {

            foreach (var file in selectedFiles)
            {
                var isLoading = file.Data.Position > 0;


                <tbody>

                    <tr>
                        <td>@file.Name</td>
                        <td>@file.Size bytes </td>
                        <td>@file.Type</td>


                    </tr>

                </tbody>

            }
        }



    </table>
    <hr />
    <h3>File Attachment</h3>
    <hr />
    @if (IsEditOnly)
    {
        <table>
            <thead>
                <tr>
                    <th>File Name</th>
                    @*<th>File Size</th>*@
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var td in tenants.tenantDocument)
                {
                    <tr>

                        <td>@td.fileDesc </td>
                        @*<td>@td.fi</td>*@


                        <td>
                            @*<a href="@($"/TenantDocument/{td.filePath.ToString()}")" class="btn btn-primary table-btn">*@
                            @{
                                //string _path = $"/TenantDocument/" + { td.fileName.ToString()};
                                var _path = $"/Uploaded/TenantDocument/{td.fileName}{td.extName}";

                                <a href="@_path"
                                   class="btn btn-primary table-btn">
                                    <i class="fas fa-info-circle"> DOWNLOAD </i>
                                </a>

                                @*<a href=@td.filePath class="btn btn-dark table-btn quick-add-btn" download>Download</a>*@
                            }

                        </td>

                    </tr>
                }
            </tbody>

        </table>
    }

    <br />


    <br />

    @if (!IsViewOnly)
    {

        @if (!IsEditOnly)
        {
            <button type="submit" class="btn btn-primary edit-btn" onclick="return confirm('Are you sure you want to post this Tenant Entry?');"> Save </button>

        }
        else
        {
            <button type="submit" class="btn btn-primary edit-btn" onclick="return confirm('Are you sure you want to post this Tenant Entry?');"> Save </button>

        }


    }

    <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToList">Return</a>

</EditForm>


}
