@page "/vendorentry"
@page "/vendorentry/{vendorid}"
@attribute [Authorize]
@inherits VendorEntryBase




<h3>Vendor Entries</h3>


@if (!IsDataLoaded)
{
    <p><em>Loading...</em></p>
}
else if (IsDataLoaded && !string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Error encountered, please report it to the system administrator</em></p>
    <p><em>@ErrorMessage</em></p>
}
else

{
    //OnValidSubmit="@HandleValidSubmit"
<EditForm Model="@vendors" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>

    @*<div class="form-group row">
        <label for="vendorId" class="col-sm-2 col-form-label">Vendor ID:</label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@vendors.vendorId" class="form-control">
                </InputText>
            }
            else
            {
                <label>@vendors.vendorId</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => vendors.vendorId)" />
    </div>*@


    <div class="form-group row">
        <label for="vendorName" class="col-sm-2 col-form-label">Vendor Name: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@vendors.vendorName" class="form-control">
                </InputText>
            }
            else
            {
                <label>@vendors.vendorName</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => vendors.vendorName)" />
    </div>




    @*<div class="form-group row">
            <label for="rowOrder" class="col-sm-2 col-form-label">Row Order: </label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {
                    <InputNumber @bind-Value="@vendors.rowOrder" class="form-control">
                    </InputNumber>
                }
                else
                {
                    <label>@vendors.rowOrder</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => vendors.rowOrder)" />
        </div>*@

    @*<div class="form-group row">
            <label for="vataccount" class="col-sm-2 col-form-label">VAT Account: </label>
            <div class="col-sm-5">
                @if (!IsViewOnly)
                {

                    <InputSelect @bind-Value="@vendors.inputVatAccountid" class="form-control">
                        <option value="">--- select item ---</option>

                        @foreach (var gl in vendors.inputVatAccount)
                                {
                            <option value="@gl.accountId">@gl.accountDesc</option>
                                }
                        /**/

                    </InputSelect>
                }
                else
                {
                    <label>@vendors.inputVatAccountid.ToString()</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => vendors.inputVatAccountid)" />
        </div>*@

    <div class="form-group row">
        <label for="isVatRegistered" class="col-sm-2 col-form-label">is VAT Registered: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputSelect @bind-Value="@vendors.isVatRegistered" class="form-control">
                    <option value="N">No</option>
                    <option value="Y">Yes</option>
                </InputSelect>

            }
            else
            {
                <label>@vendors.isVatRegistered</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => vendors.isVatRegistered)" />
    </div>



    @if (!IsViewOnly)
    {
        @if (!@IsEditOnly)
        {
            <button type="submit" class="btn btn-primary edit-btn" onclick="return confirm('Are you sure you want to post this Vendor Entry?');"> Save </button>
        }
        else
        {
            <button type="submit" class="btn btn-primary edit-btn" onclick="return confirm('Are you sure you want to post this Vendor Entry?');"> Update </button>
        }

    }
    <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToList">Return</a>

</EditForm>

}