@page "/vendorentry"
@page "/vendorentry/{vendorid}"
@attribute [Authorize]
@inherits VendorEntryBase




<h3>Vendor Entries</h3>

<hr />
@if (!IsDataLoaded)
{
    <p><em>Loading...</em></p>
}
else if (IsDataLoaded && !string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Error encountered, please report it to the system administrator</em></p>
    <p><em>@ErrorMessage</em></p>
}
else

{
    //OnValidSubmit="@HandleValidSubmit"
<EditForm Model="@vendors" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>

    @*<div class="form-group row">
            <label for="vendorId" class="col-sm-2 col-form-label">Vendor ID:</label>
            <div class="col-sm-2">
                @if (!IsViewOnly)
                {
                    <InputText @bind-Value="@vendors.vendorId" class="form-control">
                    </InputText>
                }
                else
                {
                    <label>@vendors.vendorId</label>
                }
            </div>
            <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => vendors.vendorId)" />
        </div>*@


    <div class="form-group row">
        <label for="vendorName" class="col-sm-2 col-form-label">Vendor Name: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@vendors.vendorName" class="form-control">
                </InputText>
            }
            else
            {
                <label>@vendors.vendorName</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => vendors.vendorName)" />
    </div>


    <div class="form-group row">
        <label for="descriprion" class="col-sm-2 col-form-label">Description: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputText @bind-Value="@vendors.description" class="form-control">
                </InputText>
            }
            else
            {
                <label>@vendors.description</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => vendors.description)" />
    </div>

    <div class="form-group row">
        <label for="address" class="col-sm-2 col-form-label">Address: </label>
        <div class="col-sm-5">
            @if (!IsViewOnly)
            {
                <InputTextArea @bind-Value="@vendors.address" class="form-control">
                </InputTextArea>
            }
            else
            {
                <label>@vendors.address</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => vendors.address)" />
    </div>


    <div class="form-group row">
        <label for="isVatRegistered" class="col-sm-2 col-form-label">is VAT Registered: </label>
        <div class="col-sm-2">
            @if (!IsViewOnly)
            {
                <InputSelect @bind-Value="@vendors.isVatRegistered" class="form-control">
                    <option value="N">No</option>
                    <option value="Y">Yes</option>
                </InputSelect>

            }
            else
            {
                <label>@vendors.isVatRegistered</label>
            }
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => vendors.isVatRegistered)" />
    </div>



    @if (!IsViewOnly)
    {
        @if (!@IsEditOnly)
        {
            <button type="submit" class="btn btn-primary edit-btn" onclick="return confirm('Are you sure you want to post this Vendor Entry?');"> Save </button>
        }
        else
        {
            <button type="submit" class="btn btn-primary edit-btn" onclick="return confirm('Are you sure you want to post this Vendor Entry?');"> Save </button>
        }

    }
    <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToList">Return</a>

</EditForm>

}