@page "/vendorlist"

@attribute [Authorize]
@inherits VendorListBase


@*<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li class="active"><a href="setup">SET UP</a></li>
                <li><a href="glaccountlist">&nbsp;&nbsp;&nbsp;&nbsp;General Ledger&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="vendorlist">&nbsp;&nbsp;&nbsp;&nbsp;Vendors&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="propertylist">&nbsp;&nbsp;&nbsp;&nbsp;Properties&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="tenantlist">&nbsp;&nbsp;&nbsp;&nbsp;Tenants&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="propertydirectorylist">PROPERTY DIRECTORY</a></li>

            </ul>
        </div>
    </nav>*@


<div id="DivSetupList">

    <ul>
        @if (!string.IsNullOrEmpty(CompanyId) && CompanyId.Equals("ASRC", StringComparison.OrdinalIgnoreCase))
        {
            <li><a href="glaccountlist">General Ledger</a></li>
            <li><a href="vendorlist" class="active">Vendors</a></li>
            <li><a href="propertylist">Properties</a></li>
            <li><a href="tenantlist">Tenants</a></li>
        }

        @if (!string.IsNullOrEmpty(CompanyId) && CompanyId.Equals("ADBCA", StringComparison.OrdinalIgnoreCase))
        {
            <li><a href="glaccountlist">General Ledger</a></li>
            <li><a href="vendorlist" class="active">Vendors</a></li>
            <li><a href="propertylist">Properties</a></li>
            <li><a href="tenantlist">Tenants</a></li>
        }

        @if (!string.IsNullOrEmpty(CompanyId) && CompanyId.Equals("APMI", StringComparison.OrdinalIgnoreCase))
        {
            <li><a href="glaccountlist">General Ledger</a></li>
            <li><a href="vendorlist" class="active">Vendors</a></li>
            <li><a href="customerlist">Customers </a></li>
            <li><a href="employeelist">Employees </a></li>

        }

    </ul>



    <h3>Vendor List</h3>


    @if (!DataLoaded && string.IsNullOrEmpty(ErrorMessage))
    {
        <p><em>Loading...</em></p>
    }
    else if (DataLoaded && !string.IsNullOrEmpty(ErrorMessage))
    {
        <p><em>Error encountered while loading this page.</em></p>
    }
    else
    {
        <hr />
        <button type="submit" @onclick="@VendorEntry" class="btn btn-primary edit-btn"> Add Vendor </button>
        <br />

        <br />
        <table class="table">
            <thead>
                <tr>

                    @*<th>Vendor ID</th>*@
                    <th>Vendor Name</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>Is VAT Registered?</th>
                    @*<th>Input VAT Account</th>*@
                    @*<th>Row Order</th>*@
                    @*<th>Property Type</th>
                        <th>Area</th>*@


                </tr>
            </thead>
            <tbody>
                @foreach (var v in vendors)
                {
                    <tr>
                        @*<td>@v.vendorId.ToString()</td>*@
                        <td>@v.vendorName</td>
                        <td>@v.description</td>
                        <td>@v.address</td>
                        <td>@v.isVatRegistered</td>
                        @*<td>
                                @if (@v.inputVatAccount != null)
                                {
                                    @v.inputVatAccount.accountDesc.ToString()
                                }

                            </td>*@
                        @*<td>@v.rowOrder.ToString()</td>*@
                        <td>
                            <a href="@($"vendorentry/{v.vendorId}")" class="btn btn-primary table-btn">
                                <i class="fas fa-info-circle">EDIT</i>
                            </a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>



    }
    </div>